
pic/clock_big_7seg_red_v1/dist/default/production/memoryfile.xml
pic/clock_big_7seg_red_v1/dist/default/production/clock_big_7seg_red_v1.production.sym
pic/clock_big_7seg_red_v1/dist/default/production/clock_big_7seg_red_v1.production.sdb
pic/clock_big_7seg_red_v1/dist/default/production/clock_big_7seg_red_v1.production.rlf
pic/clock_big_7seg_red_v1/dist/default/production/clock_big_7seg_red_v1.production.o
pic/clock_big_7seg_red_v1/dist/default/production/clock_big_7seg_red_v1.production.mum
pic/clock_big_7seg_red_v1/dist/default/production/clock_big_7seg_red_v1.production.map
pic/clock_big_7seg_red_v1/dist/default/production/clock_big_7seg_red_v1.production.lst
pic/clock_big_7seg_red_v1/dist/default/production/clock_big_7seg_red_v1.production.hxl
pic/clock_big_7seg_red_v1/dist/default/production/clock_big_7seg_red_v1.production.hex
pic/clock_big_7seg_red_v1/dist/default/production/clock_big_7seg_red_v1.production.elf
pic/clock_big_7seg_red_v1/dist/default/production/clock_big_7seg_red_v1.production.cmf
pic/clock_big_7seg_red_v1/build/default/production/main.p1.d
pic/clock_big_7seg_red_v1/build/default/production/main.p1
pic/clock_big_7seg_red_v1/build/default/production/main.i
pic/clock_big_7seg_red_v1/build/default/production/_ext/958983984/timer.p1.d
pic/clock_big_7seg_red_v1/build/default/production/_ext/958983984/timer.p1
pic/clock_big_7seg_red_v1/build/default/production/_ext/958983984/timer.i
pic/clock_big_7seg_red_v1/build/default/production/_ext/958983984/pwm.p1.d
pic/clock_big_7seg_red_v1/build/default/production/_ext/958983984/pwm.p1
pic/clock_big_7seg_red_v1/build/default/production/_ext/958983984/pwm.i
pic/clock_big_7seg_red_v1/build/default/production/_ext/958983984/i2c.p1.d
pic/clock_big_7seg_red_v1/build/default/production/_ext/958983984/i2c.p1
pic/clock_big_7seg_red_v1/build/default/production/_ext/958983984/i2c.i
pic/clock_big_7seg_red_v1/build/default/production/_ext/958983984/adc.p1.d
pic/clock_big_7seg_red_v1/build/default/production/_ext/958983984/adc.p1
pic/clock_big_7seg_red_v1/build/default/production/_ext/958983984/adc.i
pic/clock_big_7seg_red_v1/build/default/production/_ext/336648663/pcf8574.p1.d
pic/clock_big_7seg_red_v1/build/default/production/_ext/336648663/pcf8574.p1
pic/clock_big_7seg_red_v1/build/default/production/_ext/336648663/pcf8574.i
pic/clock_big_7seg_red_v1/build/default/production/_ext/336648663/ds1307.p1.d
pic/clock_big_7seg_red_v1/build/default/production/_ext/336648663/ds1307.p1
pic/clock_big_7seg_red_v1/build/default/production/_ext/336648663/ds1307.i
pic/clock_big_7seg_red_v1/build/default/production/_ext/336356346/misc.p1.d
pic/clock_big_7seg_red_v1/build/default/production/_ext/336356346/misc.p1
pic/clock_big_7seg_red_v1/build/default/production/_ext/336356346/misc.i
pic/clock_big_7seg_red_v1/build/default/production/_ext/336356346/delays.p1.d
pic/clock_big_7seg_red_v1/build/default/production/_ext/336356346/delays.p1
pic/clock_big_7seg_red_v1/build/default/production/_ext/336356346/delays.i
pic/clock_big_7seg_red_v1/build/default/production/_ext/336356346/clock.p1.d
pic/clock_big_7seg_red_v1/build/default/production/_ext/336356346/clock.p1
pic/clock_big_7seg_red_v1/build/default/production/_ext/336356346/clock.i
pic/clock_big_7seg_red_v1/build/default/production/_ext/336356346/bcd.p1.d
pic/clock_big_7seg_red_v1/build/default/production/_ext/336356346/bcd.p1
pic/clock_big_7seg_red_v1/build/default/production/_ext/336356346/bcd.i
pic/clock_big_7seg_red_v1/nbproject/Makefile-genesis.properties
pic/clock_big_7seg_red_v1/nbproject/Makefile-default.mk
pic/clock_big_7seg_red_v1/nbproject/configurations.xml
pic/clock_big_7seg_red_v1/build/default/production/_ext/336356346/date_time.p1.d
pic/clock_big_7seg_red_v1/build/default/production/_ext/336356346/date_time.p1
pic/clock_big_7seg_red_v1/build/default/production/_ext/336356346/date_time.i
pic/clock_big_7seg_red_v1/nbproject/Makefile-genesis.properties
pic/clock_big_7seg_red_v1/nbproject/Makefile-default.mk
pic/clock_big_7seg_red_v1/nbproject/configurations.xml
pic/clock_big_7seg_red_v1/nbproject/Makefile-genesis.properties
pic/clock_big_7seg_red_v1/nbproject/Makefile-default.mk
pic/clock_big_7seg_red_v1/nbproject/configurations.xml
pic/clock_big_7seg_red_v1/nbproject/private/private.xml
*.i
*.p1
*.d
*.xml
*.mk
*.properties
*.mk
*.xml
*.xml
*.xml
*.xml
*.cmf
projects/pitechoid_pic18_dip28_ref/dist/default/production/pitechoid_pic18_dip28_ref.production.elf
projects/pitechoid_pic18_dip28_ref/dist/default/production/pitechoid_pic18_dip28_ref.production.hex
projects/pitechoid_pic18_dip28_ref/dist/default/production/pitechoid_pic18_dip28_ref.production.hxl
projects/pitechoid_pic18_dip28_ref/dist/default/production/pitechoid_pic18_dip28_ref.production.lst
projects/pitechoid_pic18_dip28_ref/dist/default/production/pitechoid_pic18_dip28_ref.production.map
projects/pitechoid_pic18_dip28_ref/dist/default/production/pitechoid_pic18_dip28_ref.production.mum
projects/pitechoid_pic18_dip28_ref/dist/default/production/pitechoid_pic18_dip28_ref.production.o
projects/pitechoid_pic18_dip28_ref/dist/default/production/pitechoid_pic18_dip28_ref.production.rlf
projects/pitechoid_pic18_dip28_ref/dist/default/production/pitechoid_pic18_dip28_ref.production.sdb
projects/pitechoid_pic18_dip28_ref/dist/default/production/pitechoid_pic18_dip28_ref.production.sym
projects/pitechoid_pic18_dip28_ref/nbproject/configurations.xml
projects/pitechoid_pic18_dip28_ref/nbproject/Makefile-default.mk
projects/pitechoid_pic18_dip28_ref/nbproject/Makefile-genesis.properties
*.json
*.json
*.json
*.xml
projects/pitechoid_pic18_dip28_ref/nbproject/Makefile-local-default.mk
projects/pitechoid_pic18_dip28_ref/nbproject/Makefile-genesis.properties
projects/pitechoid_pic18_dip28_ref/nbproject/Makefile-default.mk
projects/pitechoid_pic18_dip28_ref/nbproject/configurations.xml
projects/pitechoid_pic18_dip28_ref/disassembly/listing.disasm
projects/pitechoid_pic18_dip28_ref/_build/pitechoid_pic18_dip28_ref/default/build.ninja
projects/pitechoid_pic18_dip28_ref/_build/pitechoid_pic18_dip28_ref/default/cmake_install.cmake
projects/pitechoid_pic18_dip28_ref/_build/pitechoid_pic18_dip28_ref/default/CMakeCache.txt
projects/pitechoid_pic18_dip28_ref/_build/pitechoid_pic18_dip28_ref/default/CMakeFiles/4.3.3/CMakeCCompiler.cmake
projects/pitechoid_pic18_dip28_ref/_build/pitechoid_pic18_dip28_ref/default/CMakeFiles/4.3.3/CMakeSystem.cmake
projects/pitechoid_pic18_dip28_ref/_build/pitechoid_pic18_dip28_ref/default/CMakeFiles/4.3.3/CompilerIdC/CMakeCCompilerId.c
projects/pitechoid_pic18_dip28_ref/_build/pitechoid_pic18_dip28_ref/default/CMakeFiles/clean_additional.cmake
projects/pitechoid_pic18_dip28_ref/_build/pitechoid_pic18_dip28_ref/default/CMakeFiles/cmake.check_cache
projects/pitechoid_pic18_dip28_ref/_build/pitechoid_pic18_dip28_ref/default/CMakeFiles/CMakeConfigureLog.yaml
projects/pitechoid_pic18_dip28_ref/_build/pitechoid_pic18_dip28_ref/default/CMakeFiles/rules.ninja
projects/pitechoid_pic18_dip28_ref/_build/pitechoid_pic18_dip28_ref/default/CMakeFiles/TargetDirectories.txt
projects/pitechoid_pic18_dip28_ref/cmake/pitechoid_pic18_dip28_ref/default/.generated/file.cmake
projects/pitechoid_pic18_dip28_ref/cmake/pitechoid_pic18_dip28_ref/default/.generated/main.cmake
projects/pitechoid_pic18_dip28_ref/cmake/pitechoid_pic18_dip28_ref/default/.generated/overrides.cmake
projects/pitechoid_pic18_dip28_ref/cmake/pitechoid_pic18_dip28_ref/default/.generated/rule.cmake
projects/pitechoid_pic18_dip28_ref/cmake/pitechoid_pic18_dip28_ref/default/.generated/toolchain.cmake
projects/pitechoid_pic18_dip28_ref/cmake/pitechoid_pic18_dip28_ref/default/CMakeLists.txt
projects/pitechoid_pic18_dip28_ref/dist/default/debug/pitechoid_pic18_dip28_ref.debug.elf
projects/pitechoid_pic18_dip28_ref/dist/default/debug/pitechoid_pic18_dip28_ref.debug.hxl
projects/pitechoid_pic18_dip28_ref/dist/default/debug/pitechoid_pic18_dip28_ref.debug.lst
projects/pitechoid_pic18_dip28_ref/dist/default/debug/pitechoid_pic18_dip28_ref.debug.map
projects/pitechoid_pic18_dip28_ref/dist/default/debug/pitechoid_pic18_dip28_ref.debug.mum
projects/pitechoid_pic18_dip28_ref/dist/default/debug/pitechoid_pic18_dip28_ref.debug.o
projects/pitechoid_pic18_dip28_ref/dist/default/debug/pitechoid_pic18_dip28_ref.debug.rlf
projects/pitechoid_pic18_dip28_ref/dist/default/debug/pitechoid_pic18_dip28_ref.debug.sdb
projects/pitechoid_pic18_dip28_ref/dist/default/debug/pitechoid_pic18_dip28_ref.debug.sym
projects/pitechoid_pic18_dip28_ref/nbproject/Makefile-default.mk
projects/pitechoid_pic18_dip28_ref/nbproject/Makefile-genesis.properties
projects/pitechoid_pic18_dip28_ref/nbproject/Makefile-local-default.mk
projects/pitechoid_pic18_dip28_ref/nbproject/Makefile-variables.mk
projects/pitechoid_pic18_dip28_ref/nbproject/private/private.xml
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/105026812b7675ddd7e138edbda1cd83d46260b8
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/18126d2d2a6b66302b6d679f2814e8cae0ce86b6
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/19b023496017f9fdc520fca168526271e712c4bc
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/1adb02965bfac7ca839ba6d0887617e1a7312169
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/1b200343ce14ee8c3f83d79dad136ec894030df
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/1fb4d90d883cb37fdb161b774cc835a2372cae27
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/253d49ed9d58bcfe84536334bf0e73996f4159f
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/2af43ee265737db313b4fbf553b81b879b0fd85b
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/45b944a230a2a6be5db7bf7fb73b26d2ad214eb2
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/57d61238b6f2c78cb56bee6cbc2ce5c964d8d5a5
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/63cd35a97e9c5ce1aecb0ecc1f076c3889479d8a
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/700813875eade6b2443f6a6670268fde78464a1
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/7aff9ea5bffec3e871a85c85614145e3d4714bc9
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/7de54b7b8cfdfb8f953ce08e8aed1c1cc0381b36
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/7fd182185fc00a7075ce504497fc570ba7f0866a
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/839db3e0d5001f85044f7f21ca01240203149cbe
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/84c5c4b795d5f3c5d44eb171509d60fc0084fe99
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/86bb2023664338eaf8e3586c1f13fbd93e88d2ca
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/8737922ef128ae12d2b95e4f8a2dc02ad7789a0e
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/9270057fa6a60c172729c98394c40cb7924b3420
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/9796441e698ba1ff6fbf6ed29b558f447b4315e8
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/9d8156d01caa66960c5df5fe6b7b868eabf681bb
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/a2bc21444fa4f210e81641f0aaeb7d5d06e9afde
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/a5a5db4db32f7217070e15cb0f09787bf32553c0
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/a7119ba8ed18d93309d9a3f2177087c15b685a74
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/af5b58f8e15b30dd901bac5f849ccd2b8c5e67a
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/be92084850c49c197cd9837adc86aa5ab1db50d0
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/c20d5e1ce97cb9daa1f4d36138bd71b297695ff3
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/c9526fe83152c670a8c8b41909346c74c9888972
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/d909b1118fe067c7f4e52f0effa8c921e696c8e9
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/da39a3ee5e6b4b0d3255bfef95601890afd80709
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/dc50d76bc92c955cc0c1cdbb545981e2fd8864f2
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/dcda1c0eff869341517f3c4ad6754ddc829b059c
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/dd0553262fc1ff780032747d1a9b11487d55ab8c
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/de9d66a8951e7f23c343f81cc8d59482617d01df
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/e31cbe7ca036f4dcdab7eb16181ffb37649a34db
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/e3e5b6f78cad9c959b81f26d4f4f76c0c6c5870f
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/e470e6187d57c37e52e811a359268b234a53f80f
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/e6c5aa8bb9086bfa475cb1ff272f51ea435011ae
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/f203c682f9f9788588702a781cc45bcc7e0f5d24
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/f47de58abd9728310a22b6915d8c710773263489
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/f79df86e3f9761824265af2896a2f10ecabec7d2
projects/pitechoid_pic33_qfp100_ref/.generated_files/flags/default/fe32ceb167a198c49578c237079ae17aee8e730d
/projects/pitechoid_pic33_qfp100_ref/_build
/projects/pitechoid_pic33_qfp100_ref/build
/projects/pitechoid_pic33_qfp100_ref/dist
/projects/Pitechoid_DIP28_PIC18F252/_build
/projects/Pitechoid_DIP28_PIC18F252/cmake
/projects/Pitechoid_DIP28_PIC18F252/dist
/projects/Pitechoid_DIP28_PIC18F252/nbproject/private
/projects/Pitechoid_DIP28_PIC18F252/nbproject/private
projects/clock_big_7seg_red_v2/nbproject/Makefile-genesis.properties
projects/clock_big_7seg_red_v2/nbproject/Makefile-impl.mk
projects/clock_big_7seg_red_v2/nbproject/Makefile-local-default.mk
projects/clock_big_7seg_red_v2/nbproject/Makefile-variables.mk
projects/Pitechoid_DIP28_PIC18F252/nbproject/Makefile-default.mk
projects/Pitechoid_DIP28_PIC18F252/nbproject/Makefile-genesis.properties
projects/Pitechoid_DIP28_PIC18F252/nbproject/Makefile-impl.mk
projects/Pitechoid_DIP28_PIC18F252/nbproject/Makefile-local-default.mk
projects/Pitechoid_DIP28_PIC18F252/nbproject/Makefile-variables.mk
projects/clock_big_7seg_red_v2/nbproject/Makefile-default.mk
projects/Pitechoid_DIP28_PIC18F252/nbproject/Makefile-default.mk
projects/Pitechoid_DIP28_PIC18F252/nbproject/Makefile-genesis.properties
projects/Pitechoid_DIP28_PIC18F252/nbproject/Makefile-impl.mk
projects/Pitechoid_DIP28_PIC18F252/nbproject/Makefile-local-default.mk
projects/Pitechoid_DIP28_PIC18F252/nbproject/Makefile-variables.mk
projects/Pitechoid_DIP28_PIC32MX220F032B/.generated_files/flags/default/f5c3089a091a0adae7dce154aa9e24a41608532
projects/Pitechoid_DIP28_PIC32MX220F032B/.generated_files/flags/default/da39a3ee5e6b4b0d3255bfef95601890afd80709
projects/Pitechoid_DIP28_PIC32MX220F032B/.generated_files/flags/default/94a725461cddb3ca9631b71d3ee63de4d6b187d9
projects/Pitechoid_DIP28_PIC32MX220F032B/.generated_files/flags/default/4dbd611a53c240c338d88dd1736d67f31d104c3c
projects/Pitechoid_DIP28_PIC32MX220F032B/.generated_files/flags/default/1916c2a83bb42e7052229b5836376443ec3667e3
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/dist/default/production/Pitechoid_DIP28_dsPIC33FJ128MC802.production.map
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/dist/default/production/Pitechoid_DIP28_dsPIC33FJ128MC802.production.hex
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/dist/default/production/Pitechoid_DIP28_dsPIC33FJ128MC802.production.elf
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/dist/default/debug/Pitechoid_DIP28_dsPIC33FJ128MC802.debug.map
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/dist/default/debug/Pitechoid_DIP28_dsPIC33FJ128MC802.debug.elf
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/.generated_files/flags/default/2146292d7c0b97ecdf50a5cafa1a79819025eb1a
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/.generated_files/flags/default/28cb56cf5ed668025ceef7524103277b63b38557
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/.generated_files/flags/default/aacd4190fac8dd71e8f4b506ef78d55896019cf
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/.generated_files/flags/default/da39a3ee5e6b4b0d3255bfef95601890afd80709
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/.generated_files/flags/default/e21c05b2e2d79c3dc5037c04b15ac9f34d3388e5
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/.generated_files/flags/default/f78be31ffbb3909550428d906d7893b9e1973011
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/.generated_files/flags/default/f870af3a667e56d8afc70836bac65e179527f825
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/build/default/debug/_ext/779656892/delays.o
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/build/default/debug/interrupts_management.o
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/build/default/debug/main.o
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/build/default/production/_ext/779656892/delays.o
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/build/default/production/interrupts_management.o
projects/Pitechoid_DIP28_dsPIC33FJ128MC802/build/default/production/main.o
projects/EVB_QFP100_dsPIC33FJ256MC710/.generated_files/flags/default/318c69688ed290ec3516c7524d2b70a8e7ddfaa1
projects/EVB_QFP100_dsPIC33FJ256MC710/.generated_files/flags/default/476a8d879323d342896819a4648d0f55589ac541
projects/EVB_QFP100_dsPIC33FJ256MC710/.generated_files/flags/default/72fd51f2320eee407782898ee4bca02adf337d47
projects/EVB_QFP100_dsPIC33FJ256MC710/.generated_files/flags/default/7edd0ce82588e7eeac6add82b5187169e703f291
projects/EVB_QFP100_dsPIC33FJ256MC710/.generated_files/flags/default/a22dbd85fb3ed7a419d157a4ec6f0dfc5aa27fe4
projects/EVB_QFP100_dsPIC33FJ256MC710/.generated_files/flags/default/ae980142293374a5e61f1cc5b882672005cbeefc
projects/EVB_QFP100_dsPIC33FJ256MC710/.generated_files/flags/default/da39a3ee5e6b4b0d3255bfef95601890afd80709
projects/EVB_QFP100_dsPIC33FJ256MC710/.generated_files/flags/default/e14864ec6242e59f2077c1aabbb2636b24da56d6
projects/EVB_QFP100_dsPIC33FJ256MC710/.generated_files/flags/default/ff249664922f6b548852f6bf297dfc695d67b6d6
projects/EVB_QFP100_dsPIC33FJ256MC710/build/default/debug/_ext/113394246/oscillator.o
projects/EVB_QFP100_dsPIC33FJ256MC710/build/default/debug/_ext/779656892/delays.o
projects/EVB_QFP100_dsPIC33FJ256MC710/build/default/debug/interrupts_management.o
projects/EVB_QFP100_dsPIC33FJ256MC710/build/default/debug/main.o
projects/EVB_QFP100_dsPIC33FJ256MC710/dist/default/debug/EVB_QFP100_dsPIC33FJ256MC710.debug.elf
projects/EVB_QFP100_dsPIC33FJ256MC710/dist/default/debug/EVB_QFP100_dsPIC33FJ256MC710.debug.map
projects/EVB_DIP28_dsPIC33FJ128MC802/.generated_files/flags/default/33d98d5104e1cd5f6691e5ae046d14bb09ca12d2
projects/EVB_DIP28_dsPIC33FJ128MC802/.generated_files/flags/default/7394c0a624a227c30f647822fcdab79fb0eea3b
projects/EVB_DIP28_dsPIC33FJ128MC802/.generated_files/flags/default/9d168a2a3a70f6e8f660fe3762f1a8d5d270a646
projects/EVB_DIP28_dsPIC33FJ128MC802/.generated_files/flags/default/af95b59f76726d492308c0e19fd715f97859dad9
projects/EVB_DIP28_dsPIC33FJ128MC802/.generated_files/flags/default/c40b1f276fa5e2de83cd6c3a32c338796a248a4a
projects/EVB_DIP28_dsPIC33FJ128MC802/.generated_files/flags/default/cea3f3db834d5e6d131dac8b80ae514f0250d1a5
projects/EVB_DIP28_dsPIC33FJ128MC802/.generated_files/flags/default/da39a3ee5e6b4b0d3255bfef95601890afd80709
projects/EVB_DIP28_dsPIC33FJ128MC802/.generated_files/flags/default/e07b6e9ee8105d84c7dcae9732f5fa912c12dafc
projects/EVB_DIP28_dsPIC33FJ128MC802/.generated_files/flags/default/e3933153811d56cb5c582fbce02f7a493c237a90
projects/EVB_DIP28_dsPIC33FJ128MC802/build/default/debug/_ext/113394246/oscillator.o
projects/EVB_DIP28_dsPIC33FJ128MC802/build/default/debug/_ext/779656892/delays.o
projects/EVB_DIP28_dsPIC33FJ128MC802/build/default/debug/interrupts_management.o
projects/EVB_DIP28_dsPIC33FJ128MC802/build/default/debug/main.o
projects/EVB_DIP28_dsPIC33FJ128MC802/build/default/production/_ext/113394246/oscillator.o
projects/EVB_DIP28_dsPIC33FJ128MC802/build/default/production/_ext/779656892/delays.o
projects/EVB_DIP28_dsPIC33FJ128MC802/build/default/production/interrupts_management.o
projects/EVB_DIP28_dsPIC33FJ128MC802/build/default/production/main.o
projects/EVB_DIP28_dsPIC33FJ128MC802/dist/default/debug/EVB_DIP28_dsPIC33FJ128MC802.debug.elf
projects/EVB_DIP28_dsPIC33FJ128MC802/dist/default/debug/EVB_DIP28_dsPIC33FJ128MC802.debug.map
projects/EVB_DIP28_dsPIC33FJ128MC802/dist/default/production/EVB_DIP28_dsPIC33FJ128MC802.production.elf
projects/EVB_DIP28_dsPIC33FJ128MC802/dist/default/production/EVB_DIP28_dsPIC33FJ128MC802.production.map
projects/Pitechoid_QFP100_dsPIC33FJ256MC710/nbproject/Makefile-genesis.properties
projects/Pitechoid_QFP100_dsPIC33FJ256MC710/nbproject/Makefile-impl.mk
projects/Pitechoid_QFP100_dsPIC33FJ256MC710/nbproject/Makefile-local-default.mk
projects/Pitechoid_QFP100_dsPIC33FJ256MC710/nbproject/Makefile-variables.mk
projects/Pitechoid_QFP100_dsPIC33FJ256MC710/nbproject/private/configurations.xml
projects/Pitechoid_QFP100_dsPIC33FJ256MC710/nbproject/Makefile-default.mk
projects/Pitechoid_QFP100_dsPIC33FJ256MC710/dist/default/debug/Pitechoid_QFP100_dsPIC33FJ256MC710.debug.elf
projects/Pitechoid_QFP100_dsPIC33FJ256MC710/dist/default/debug/Pitechoid_QFP100_dsPIC33FJ256MC710.debug.map
projects/Pitechoid_QFP100_dsPIC33FJ256MC710/dist/default/production/memoryfile.xml
projects/Pitechoid_QFP100_dsPIC33FJ256MC710/dist/default/production/Pitechoid_QFP100_dsPIC33FJ256MC710.production.hex
projects/Pitechoid_QFP100_dsPIC33FJ256MC710/dist/default/production/Pitechoid_QFP100_dsPIC33FJ256MC710.production.map
projects/Pitechoid_QFP100_dsPIC33FJ256MC710/dist/default/production/pitechoid_ref.X.production.elf
projects/Pitechoid_QFP100_dsPIC33FJ256MC710/dist/default/production/pitechoid_ref.X.production.hex
projects/Pitechoid_QFP100_dsPIC33FJ256MC710/dist/default/production/pitechoid_ref.X.production.map
/projects/Pitechoid_QFP100_dsPIC33FJ256MC710/build
/projects/Pitechoid_QFP100_dsPIC33FJ256MC710/.generated_files
